.loader-container {
  @apply flex justify-center items-center py-6 gap-2;
}

.loader-circle {
  @apply w-6 h-6 rounded-full animate-bounce;
  animation: wave 1.5s infinite ease-in-out;
}

.primary {
  @apply bg-gradient-to-r from-red-500 to-blue-800 shadow-lg [animation-delay:-0.3s];
}

.secondary {
  @apply bg-gradient-to-r from-yellow to-red-600 shadow-lg [animation-delay:-0.15s];
}

.accent {
  @apply bg-gradient-to-r from-gray-400 to-highlight-blue;
}

.warning {
  @apply bg-gradient-to-r from-red-600 to-yellow shadow-lg  [animation-delay:0.15s];
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
