<footer *ngIf="showFooter" class="footer-container">
  <div class="footer-content">
    <div class="footer-links">
      <li routerLink="/home" class="footer-link">Home Page</li>
      <li *ngIf="userData" routerLink="/bookings" class="footer-link">
        My Bookings
      </li>
      <li *ngIf="isAdmin" routerLink="/admin" class="footer-link">Admin</li>
      <li *ngIf="!userData" routerLink="/login" class="footer-link">Login</li>
    </div>
    <div class="footer-copyright">
      <p>&copy; {{ currentYear }} RailConnect. All rights reserved.</p>
    </div>
  </div>
</footer>
