<app-toast #toast></app-toast>

<div class="admin-section">
  <div class="search-container container">
    <button class="add-train-btn" (click)="addTicketPopup()">
      <fa-icon [icon]="faPlus"></fa-icon> Add Train
    </button>
    <div class="search-sort">
      <div class="input-container">
        <fa-icon [icon]="faSearch" class=""></fa-icon>
        <input
          class="search"
          [(ngModel)]="searchTerm"
          (input)="applyFilter()"
          placeholder="Search by train name or station name"
        />
      </div>
      <div class="sort-controls">
        <select
          [(ngModel)]="selectedSortOption"
          (change)="applySorting()"
          class="sort-select"
        >
          <option value="" selected disabled>Sort</option>
          <option value="name-asc">Name (A-Z)</option>
          <option value="name-desc">Name (Z-A)</option>
          <option value="departure-asc">Departure (Earliest)</option>
          <option value="departure-desc">Departure (Latest)</option>
          <option value="seats-asc">Available Seats (Fewest)</option>
          <option value="seats-desc">Available Seats (Most)</option>
        </select>
      </div>
    </div>
  </div>

  <app-loader *ngIf="loading"></app-loader>

  <!-- Train List -->
  <div
    *ngIf="filteredTrains.length > 0 && !loading"
    class="container train-details-container"
  >
    <div *ngFor="let train of filteredTrains" class="train-list">
      <!-- Train Header -->
      <div class="train-header">
        <div class="train-info">
          <span class="train-name">{{ train.trainName }}</span>
          <span class="train-no">({{ train.trainNo }})</span>
        </div>
        <span class="train-id">Train ID: {{ train.trainId }}</span>
      </div>

      <div class="divider"></div>

      <!-- Route Details -->
      <div class="route-details">
        <div class="station">
          <div class="station-label">From:</div>
          <div class="train-departure">{{ train.departureStationName }}</div>
        </div>
        <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
        <div class="station">
          <div class="station-label">To:</div>
          <div class="train-arrival">{{ train.arrivalStationName }}</div>
        </div>
      </div>

      <!-- Timings -->
      <div class="timings">
        <div class="timing">
          <span class="label">Departure:</span>
          <span class="value">
            {{ formatDepartureTime(train.departureDate) }} |
            {{ train.departureTime }}
          </span>
        </div>
        <div class="timing">
          <span class="label">Arrival:</span>
          <span class="value">
            {{
              calculateArrivalDate(
                train.departureDate,
                train.arrivalTime,
                train.departureTime
              )
            }}
            | {{ train.arrivalTime }}
          </span>
        </div>
        <div class="timing">
          <span class="label">Journey Time:</span>
          <span class="value">
            {{
              calculateTotalJourneyTime(train.departureTime, train.arrivalTime)
            }}
          </span>
        </div>
      </div>

      <!-- Seats Information -->
      <div class="seats-info">
        <div class="seat">
          <span class="label">Total Seats:</span>
          <span class="value">{{ train.totalSeats }}</span>
        </div>
        <div class="seat">
          <span class="label">Booked Seats:</span>
          <span class="value">{{ train.bookedSeats }}</span>
        </div>
        <div class="seat">
          <span class="label">Available Seats:</span>
          <span class="value">{{ train.totalSeats - train.bookedSeats }}</span>
        </div>
      </div>

      <!-- Actions -->
      <div class="actions">
        <button class="delete-btn" (click)="deleteTrainPopup(train.trainId)">
          <fa-icon [icon]="faTrash"></fa-icon> Delete
        </button>
      </div>
    </div>
  </div>

  <!-- No Results Found -->
  <div *ngIf="filteredTrains.length === 0 && !loading" class="no-result-found">
    <fa-icon [icon]="faSearch"></fa-icon>
    <h3>No trains found</h3>
    <p>Try a different search term.</p>
  </div>
</div>

<!-- Add Train Popup -->
<div *ngIf="showAddTrainPopup">
  <app-admin-add-train
    [showAddTrainPopup]="showAddTrainPopup"
    (closePopupEvent)="closeAddTrainPopup()"
    (trainAddedEvent)="handleTrainAdded($event)"
  ></app-admin-add-train>
</div>

<!-- Delete Confirmation Popup -->
<div *ngIf="showDeleteConfirmation" class="delete-popup">
  <div class="delete-popup-content">
    <p>Are you sure you want to delete this train?</p>
    <div class="actions">
      <button class="cancel-btn" (click)="showDeleteConfirmation = false">
        Cancel
      </button>
      <button class="confirm-btn" (click)="deleteTrain()">Delete</button>
    </div>
  </div>
</div>
