<app-toast #toast></app-toast>
<div class="admin-section">
  <div class="search-container container">
    <div class="add-train">
      <button class="add-train-btn" (click)="addTicketPopup()">
        Add Train
      </button>
    </div>
    <div class="search-container">
      <input
        class="search"
        [(ngModel)]="searchTerm"
        (input)="applyFilter()"
        placeholder="Search Trains"
      />
    </div>
  </div>

  <div
    *ngIf="filteredTrains.length > 0"
    class="container train-details-container"
  >
    <div *ngFor="let train of filteredTrains" class="train-list">
      <div class="id-name">
        <p class="train-id">
          Train Id: <span>{{ train.trainId }}</span>
        </p>
        <div>
          <span class="train-name">{{ train.trainName }}</span
          >&nbsp;<span class="train-no">({{ train.trainNo }})</span>
        </div>
      </div>
      <div class="arival-departure-station">
        <span>{{ train.departureStationName }}</span
        ><fa-icon [icon]="faArrowRightArrowLeft"></fa-icon
        ><span>{{ train.arrivalStationName }}</span>
      </div>
      <p class="departure-details">
        Departure Details:
        <span>{{ formatDepartureTime(train.departureDate) }}</span>
      </p>
      <p class="arivial-time">
        Arrival Time: <span>{{ train.arrivalTime }}</span>
      </p>
      <p class="departure-time">
        Departure Time: <span>{{ train.departureTime }}</span>
      </p>
      <div class="seats">
        <p class="total-seats">Total Seats: {{ train.totalSeats }}</p>
        <p class="booked-seats">Booked Seats: {{ train.bookedSeats }}</p>
        <p class="reamining-seats">
          Remaining Seats: {{ train.totalSeats - train.bookedSeats }}
        </p>
      </div>
      <div class="card-action-btns">
        <button class="delete-train" (click)="deleteTrainPopup(train.trainId)">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="filteredTrains.length === 0" class="no-result-found">
    Oops! No Results Found. Try Searching With A Differennt Query.
  </div>
</div>

<div *ngIf="showAddTrainPopup">
  <app-admin-add-train
    [showAddTrainPopup]="showAddTrainPopup"
    (closePopupEvent)="closeAddTrainPopup()"
  ></app-admin-add-train>
</div>

<!-- Delete Confirmation Popup -->
<div *ngIf="showDeleteConfirmation" class="delete-popup">
  <div class="delete-popup-header">
    <p>Are you sure you want to delete this train?</p>
    <div class="action-button-popup">
      <button class="cancel-delete" (click)="showDeleteConfirmation = false">
        Cancel
      </button>
      <button class="confirm-delete" (click)="deleteTrain()">Delete</button>
    </div>
  </div>
</div>
