<section>
  <div class="container header">
    <h1 class="heading">Railway Ticket Booking</h1>
    <p class="sub-heading">
      Plan your journey and book your tickets quickly and easily!
    </p>
  </div>

  <div class="search container">
    <form [formGroup]="stationForm" (ngSubmit)="onSubmit()">
      <div class="from-and-to-container">
        <!-- From Location -->
        <div class="location">
          <div class="arrival">
            <div class="location-select">
              <fa-icon [icon]="faLocationDot"></fa-icon>
              <select formControlName="fromStation">
                <option disabled value="" selected>FROM</option>
                <option
                  *ngFor="let station of stationList"
                  [value]="station.stationID"
                >
                  {{ station.stationName }}
                </option>
              </select>
            </div>
            <app-alert
              *ngIf="showSameLocationError"
              [errorMessage]="'Source and Destination cannot be same'"
            ></app-alert>
            <app-alert
              *ngIf="stationForm.get('fromStation')?.touched && stationForm.get('fromStation')?.errors?.['required']"
              [errorMessage]="'Source cannot be empty'"
            ></app-alert>
          </div>

          <!-- Arrow Icon -->
          <div class="arrow-icon">
            <fa-icon [icon]="faArrowUp"></fa-icon>
            <fa-icon [icon]="faArrowDown"></fa-icon>
          </div>

          <!-- To Location -->
          <div class="destination">
            <div class="location-select">
              <fa-icon [icon]="faLocationDot"></fa-icon>
              <select formControlName="toStation">
                <option disabled value="" selected>TO</option>
                <option
                  *ngFor="let station of stationList"
                  [value]="station.stationID"
                >
                  {{ station.stationName }}
                </option>
              </select>
            </div>
            <app-alert
              *ngIf="showSameLocationError"
              [errorMessage]="'Source and Destination cannot be same'"
            ></app-alert>
            <app-alert
              *ngIf="stationForm.get('toStation')?.touched && stationForm.get('toStation')?.errors?.['required']"
              [errorMessage]="'Destination cannot be empty'"
            ></app-alert>
          </div>
        </div>
      </div>

      <!-- Date Picker -->
      <div class="date-picker">
        <fa-icon [icon]="faCalendarDays"></fa-icon>
        <input type="date" formControlName="date" />
      </div>

      <!-- Search Button -->
      <button type="submit" class="submit-btn" [disabled]="!stationForm.valid">
        SEARCH TRAINS
      </button>
    </form>
    <img
      src="https://t3.ftcdn.net/jpg/04/75/99/98/240_F_475999820_fU277meJh9CJdNmTdOQr6CyqYaM1U7XX.jpg"
      alt="Railway Booking Illustration"
    />
  </div>
</section>
