<div class="app-container">
  <app-toast #toast></app-toast>

  <nav class="navbar">
    <div class="nav-container container">
      <a routerLink="/home" class="logo">
        <div class="logo-icon">
          <fa-icon [icon]="faTrain"></fa-icon>
        </div>
        <span class="logo-text">RailConnect</span>
      </a>

      <div class="nav-links">
        <button (click)="toggleTheme()" class="theme-toggle">
          <fa-icon
            [icon]="isDarkMode ? faSun : faMoon"
            class="theme-icon"
          ></fa-icon>
        </button>

        <ng-container *ngIf="userData; else loggedOutTemplate">
          <div class="user-dropdown" #dropdownContainer>
            <button (click)="toggleDropdown()" class="user-button">
              {{ getUserInitials() }}
            </button>

            <div *ngIf="isDropdownOpen" class="dropdown-menu">
              <div class="user-info">
                <p class="user-name">
                  {{ userData.firstName }} {{ userData.lastName }}
                </p>
                <p class="user-email">{{ userData.email }}</p>
              </div>

              <div>
                <a
                  routerLink="/bookings"
                  class="menu-item"
                  (click)="isDropdownOpen = false"
                >
                  <fa-icon [icon]="faClipboardList" class="menu-icon"></fa-icon>
                  My Bookings
                </a>

                <a
                  *ngIf="isAdmin"
                  routerLink="/admin"
                  class="menu-item"
                  (click)="isDropdownOpen = false"
                >
                  <fa-icon [icon]="faUserCircle" class="menu-icon"></fa-icon>
                  Admin Dashboard
                </a>

                <button (click)="logoutProfile()" class="menu-item">
                  <fa-icon [icon]="faSignOutAlt" class="menu-icon"></fa-icon>
                  Sign Out
                </button>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #loggedOutTemplate>
          <a routerLink="/login" class="signup-button">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            <span>Sign Up</span>
          </a>
        </ng-template>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>
