<app-toast #toast></app-toast>
<div>
  <nav>
    <div class="container nav-container">
      <a class="logo" routerLink="/home">
        <fa-icon [icon]="faTrain"></fa-icon>
        <span class="title">RailConnect</span>
      </a>
      <div class="links">
        <button *ngIf="!isDarkMode" class="moon-icon" (click)="toggleTheme()">
          <fa-icon [icon]="faMoon"></fa-icon>
        </button>
        <button *ngIf="isDarkMode" class="sun-icon" (click)="toggleTheme()">
          <fa-icon [icon]="faSun"></fa-icon>
        </button>

        <ng-container *ngIf="userData; else loggedOutTemplate">
          <div
            *ngIf="userData"
            class="user-icon"
            (click)="toggleDropdown()"
            #dropdownContainer
          >
            {{
              userData.lastName
                ? userData.firstName[0].toUpperCase() +
                  userData.lastName[0].toUpperCase()
                : userData.firstName.slice(0, 2).toUpperCase()
            }}
          </div>
          <div *ngIf="isDropdownOpen" class="dropdown">
            <ul>
              <li>
                <fa-icon [icon]="faUser"></fa-icon>
                <span
                  >{{ userData.firstName.toUpperCase() }}
                  {{ userData.lastName.toUpperCase() }}</span
                >
              </li>
              <li>
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <span>{{ userData.email }}</span>
              </li>

              <hr class="horizontal-line" />
              <li [routerLink]="'/bookings'">
                <fa-icon [icon]="faClipboardList"></fa-icon>My Bookings
              </li>
              <li (click)="logoutProfile()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>Sign Out
              </li>
            </ul>
          </div>
        </ng-container>

        <ng-template #loggedOutTemplate>
          <button routerLink="/login" class="register-btn">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            <span>Sign Up</span>
          </button>
        </ng-template>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
