<app-toast #toast></app-toast>

<div class="booking-container">
  <div class="container">
    <div class="header">
      <h2 class="heading">My Bookings</h2>
      <div class="sort">
        <select
          [(ngModel)]="sortType"
          (change)="sortBookings()"
          class="sort-select"
        >
          <option value="" disabled>SORT BY DEPARTURE DATE</option>
          <option value="latest">LATEST</option>
          <option value="oldest">OLDEST</option>
        </select>
      </div>
    </div>
    <!-- Booking Cards -->
    <app-loader *ngIf="loadingBookings"></app-loader>
    <div
      class="bookings-container"
      *ngIf="!loadingBookings && groupedMyBookings.length > 0"
    >
      <div *ngFor="let booking of groupedMyBookings" class="booking-card">
        <div class="booking">
          <div class="train-header">
            <div class="train-info">
              <span class="train-name">{{ booking.trainName }}</span>
              <span class="train-no">({{ booking.trainNo }})</span>
            </div>
          </div>

          <!-- Route Details -->
          <div class="route-details">
            <div class="station">
              <span class="station-name">{{
                booking.departureStationName
              }}</span>
            </div>
            <fa-icon [icon]="faArrowRight" class="arrow-icon"></fa-icon>
            <div class="station">
              <span class="station-name">{{ booking.arrivalStationName }}</span>
            </div>
          </div>

          <!-- Timings -->
          <div class="timings">
            <div class="timing">
              <span class="label">Departure:</span>
              <span class="value">
                {{ formatDepartureTime(booking.departureDate) }} |
                {{ booking.departureTime }}
              </span>
            </div>
            <div class="timing">
              <span class="label">Arrival:</span>
              <span class="value">
                {{
                  calculateArrivalDate(
                    booking.departureDate,
                    booking.arrivalTime,
                    booking.departureTime
                  )
                }}
                | {{ booking.arrivalTime }}
              </span>
            </div>
            <div class="timing">
              <span class="label">Journey Time:</span>
              <span class="value">
                {{
                  calculateTotalJourneyTime(
                    booking.departureTime,
                    booking.arrivalTime
                  )
                }}
              </span>
            </div>
          </div>
          <div class="divider"></div>
          <div class="passengers-section">
            <h4 class="passengers-list-heading">
              PASSENGERS ({{ booking.passengers.length }})
            </h4>

            <div
              *ngFor="let passenger of booking.passengers"
              class="passenger-card"
            >
              <div class="passenger-header">
                <div class="name">
                  <span class="detail-label">Passenger Name: &nbsp;</span>
                  <span class="detail-value">{{
                    passenger.passengerName
                  }}</span>
                </div>
                <div class="age">
                  <p class="detail-label">Age: &nbsp;</p>
                  <span class="detail-value">
                    {{ passenger.age }} year{{ passenger.age > 1 ? "s" : "" }}
                  </span>
                </div>
              </div>

              <div class="passenger-header">
                <div class="booking-id">
                  <div class="detail-label">Booking ID: &nbsp;</div>
                  <div class="detail-value">
                    {{ passenger.bookingPassengerId }}
                  </div>
                </div>
                <div class="seat-no">Seat {{ passenger.seatNo }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!loadingBookings && groupedMyBookings.length === 0"
      class="no-result-found"
    >
      <img src="images/empty-state.png" alt="No Results Found" />
      <h3>No Bookings Available, Book Your Tickets Now!</h3>
    </div>
  </div>
</div>
