<app-toast #toast></app-toast>

<!-- Registration Form -->
<form
  *ngIf="isRegisterPopupVisible"
  class="auth-container"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmitRegister()"
>
  <div class="auth-card">
    <div class="header">
      <h4>Create Your Account</h4>
    </div>
    <div class="form">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          placeholder="Enter your first name"
        />
        <app-alert
          *ngIf="
        registerForm.get('firstName')?.touched &&
        registerForm.get('firstName')?.errors?.['required']
      "
          [errorMessage]="'First name is required.'"
        ></app-alert>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          placeholder="Enter your last name"
        />
        <app-alert
          *ngIf="
        registerForm.get('lastName')?.touched &&
        registerForm.get('lastName')?.errors?.['required']
      "
          [errorMessage]="'Last name is required.'"
        ></app-alert>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <app-alert
          *ngIf="
            registerForm.get('email')?.touched &&
            registerForm.get('email')?.invalid
          "
          [errorMessage]="'Please enter a valid email.'"
        ></app-alert>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          placeholder="Enter your phone number"
        />
        <app-alert
          *ngIf="
            registerForm.get('phone')?.touched &&
            registerForm.get('phone')?.invalid
          "
          [errorMessage]="'Please enter a valid 10-digit phone number.'"
        ></app-alert>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <app-alert
          *ngIf="
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.errors?.['required']
          "
          [errorMessage]="'Password is required.'"
        ></app-alert>
      </div>
    </div>
    <div class="action-btns">
      <button
        type="submit"
        class="primary-btn"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </div>
    <p class="toggle-auth">
      Already have an account?
      <a (click)="toggleLogin()">Login here</a>
    </p>
  </div>
</form>

<!-- Login Form -->
<form
  *ngIf="isLoginPopupVisible"
  class="auth-container"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmitLogin()"
>
  <div class="auth-card">
    <div class="header">
      <h4>Welcome Back</h4>
    </div>
    <div class="form">
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          placeholder="Enter your phone number"
        />
        <app-alert
          *ngIf="
        loginForm.get('phone')?.touched &&
        loginForm.get('phone')?.errors?.['pattern']
      "
          [errorMessage]="'Please enter a valid 10-digit phone number.'"
        ></app-alert>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <app-alert
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
          [errorMessage]="'Password is required.'"
        ></app-alert>
      </div>
    </div>
    <div class="action-btns">
      <button type="submit" class="primary-btn">Login</button>
    </div>
    <p class="toggle-auth">
      Don't have an account?
      <a (click)="toggleLogin()">Register here</a>
    </p>
  </div>
</form>
