:host {
  display: block;
}

.sidebar {
  transition: width 0.3s ease, transform 0.3s ease;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 30px 12px;
  word-break: break-word;

  &.collapsed {
    width: 40px !important;

    .sidebar-header {
      justify-content: center;
      padding: 12px 0;

      h3 {
        display: none;
      }
    }

    .sidebar-header h3,
    .menu-item span,
    .submenu,
    .caret,
    .section-header {
      display: none;
    }
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.small {
    width: 150px;
  }

  &.medium {
    width: 250px;
  }

  &.large {
    width: 300px;
  }
}

.sidebar-content-wrapper {
  display: flex;
  align-items: center;
  padding: 16px 0;
  font-size: 14px;
  color: #132644;
  font-weight: 600;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;

  h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

  .toggle-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #666;
    display: block !important;
  }
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  .labels-list {
    margin-bottom: 28px;
  }

  .section-header {
    margin-bottom: 4px;
    font-size: 14px;
    color: #132644;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .has-children {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .menu-item {
    &.active {
      a {
        color: #007bff;
        font-weight: 700;
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 8px 10px;
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
      color: #132644;
      transition: background-color 0.2s;

      .caret {
        margin-right: 10px;
        font-size: 12px;
        color: #757575;
        transition: transform 0.3s ease;
        &.rotated {
          transform: rotate(180deg);
        }

        span {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  .submenu {
    list-style: none;
    margin: 0;
    border-left: 2px solid #e0e0e0;

    .submenu-item {
      margin: 0px;

      &.active {
        a {
          color: #007bff;
          font-weight: 700;
        }
      }

      a {
        padding: 8px 0 8px 20px;
        display: block;
        color: #5e6e87;
        font-size: 12px;
        font-weight: 700;
        transition: all 0.3s ease;
      }
    }
  }
}
