:host {
  display: block;
}

.sidebar {
  transition: width 0.3s ease, transform 0.3s ease;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  padding: 30px 12px;
  word-break: break-word;

  &.collapsed {
    width: 40px !important;

    .sidebar-header {
      justify-content: center;
      padding: 12px 0;

      h3 {
        display: none;
      }
    }
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.small {
    width: 150px;
    &.collapsed {
      width: 0;
      /* transform: translateX(-100%); */
    }
  }

  &.medium {
    width: 250px;
    &.collapsed {
      width: 0;
      /* transform: translateX(-100%); */
    }
  }

  &.large {
    width: 300px;
    &.collapsed {
      width: 0;
      /* transform: translateX(-100%); */
    }
  }

  &.light {
    background-color: #fff;
    color: #333;
  }

  &.dark {
    background-color: #2d2d2d;
    color: #f5f5f5;
  }

  &.sidebar-custom {
    background-color: var(--sidebar-bg, #fff);
    color: var(--sidebar-color, #333);
  }

  /* &.collapsed {
    .sidebar-header h3,
    .menu-item span,
    .submenu,
    .caret,
    .section-header {
      display: none;
    }
  } */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;

  h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

  .toggle-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #666;
    display: block !important;
  }
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  .section-header {
    margin-bottom: 4px;
    font-size: 14px;
    color: #132644;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    i {
      margin-right: 8px;
      font-size: 0.9rem;
    }
  }

  .menu-item {
    &.active {
      a {
        background-color: v-bind(highlightColor);
        color: #007bff;
        font-weight: 500;
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 8px 10px;
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
      color: #132644;
      transition: background-color 0.2s;

      &:hover {
        background-color: #dfe6e9;
      }

      i {
        margin-right: 10px;
        font-size: 1rem;
        color: #757575;
      }

      .caret {
        font-size: 12px;
        transition: transform 0.3s ease;
        &.rotated {
          transform: rotate(180deg);
        }

        span {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  .submenu {
    list-style: none;
    margin: 0;
    border-left: 2px solid #e0e0e0;

    .submenu-item {
      margin: 0px;

      a {
        padding: 8px 0 8px 20px;
        display: block;
        color: #5e6e87;
        font-size: 12px;
        font-weight: 700;
        transition: all 0.3s ease;

        &:hover {
          background-color: #dfe6e9;
        }

        &.active {
          background-color: #3498db;
          color: #fff;
          font-weight: 800;
        }
      }
    }
  }
}

.labels-list {
  margin-bottom: 28px;
}

.has-children {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hover-highlight {
  transition: background-color 0.3s ease;
}

.hover-highlight:hover {
  background-color: var(--hover-bg-color, transparent);
}

/* @media (max-width: 768px) {
  .sidebar {
    &.sidebar-left.collapsed {
      transform: translateX(-100%);
    }
    &.sidebar-right.collapsed {
      transform: translateX(100%);
    }
  }
} */
