<nav
  class="sidebar"
  [ngClass]="[
    position === 'left' ? 'left' : 'right',
    width === 'small' ? 'small' : width === 'medium' ? 'medium' : 'large',
    isCollapsed ? 'collapsed' : ''
  ]"
>
  <div class="sidebar-content-wrapper">
    <ng-content select="[sidebarHeaderContent]"></ng-content>
  </div>
  <header *ngIf="title || collapsible" class="sidebar-header">
    <h3 *ngIf="title">{{ title }}</h3>
    <button
      *ngIf="collapsible"
      class="toggle-btn"
      (click)="toggleSidebarState()"
    >
      {{ isCollapsed ? "☰" : "✕" }}
    </button>
  </header>

  <ul class="sidebar-menu" *ngIf="items?.length">
    <ng-container *ngFor="let item of items; trackBy: trackByFn; let i = index">
      <div class="labels-list">
        <li class="section-header">
          {{ item.header }}
        </li>

        <li
          *ngFor="let label of item.labels; let j = index"
          class="menu-item"
          [class.active]="activeItemPath === label.path"
          [class.has-children]="label.children"
        >
          <a
            (click)="onItemClick(label, $event)"
            [routerLink]="label.path || null"
            [ngStyle]="{
              'background-color':
                hoverItemIndex === i && hoverLabelIndex === j
                  ? backgroundHighlightColor
                  : 'transparent'
            }"
            (mouseenter)="hoverItemIndex = i; hoverLabelIndex = j"
            (mouseleave)="hoverItemIndex = null; hoverLabelIndex = null"
          >
            <i
              *ngIf="label.children?.length"
              class="caret"
              [class.rotated]="label.isExpanded !== false"
              >▼</i
            >
            <span>{{ label.label }}</span>
          </a>

          <ul
            *ngIf="label.children && label.isExpanded"
            class="submenu"
            role="menu"
          >
            <li
              *ngFor="let child of label.children; let k = index"
              [class.active]="activeItemPath === child.path"
              class="submenu-item"
            >
              <a
                [routerLink]="child.path"
                (click)="sidebarItemSelected.emit(child)"
                [ngStyle]="{
                  'background-color':
                    hoverItemIndex === i &&
                    hoverLabelIndex === j &&
                    hoverChildIndex === k
                      ? backgroundHighlightColor
                      : 'transparent'
                }"
                (mouseenter)="
                  hoverItemIndex = i; hoverLabelIndex = j; hoverChildIndex = k
                "
                (mouseleave)="hoverChildIndex = null"
              >
                {{ child.label }}
              </a>
            </li>
          </ul>
        </li>
      </div>
    </ng-container>
  </ul>
  <div class="sidebar-content-wrapper">
    <ng-content select="[sidebarFooterContent]"></ng-content>
  </div>
</nav>
