<div class="search-container">
  <form class="search-form">
    <!-- From Location -->
    <div class="form-field">
      <fa-icon [icon]="faLocationDot" class="form-icon"></fa-icon>
      <label for="fromStation" class="form-label">From:</label>
      <select
        id="fromStation"
        name="fromStation"
        [(ngModel)]="searchData.fromStationId"
        class="form-select"
      >
        <option *ngFor="let station of stationList" [value]="station.stationID">
          {{ station.stationName }}
        </option>
      </select>
    </div>

    <!-- Arrow Icon -->
    <button type="button" class="swap-button" (click)="swapStations()">
      <fa-icon [icon]="faArrowRightArrowLeft"></fa-icon>
    </button>

    <!-- To Location -->
    <div class="form-field">
      <fa-icon [icon]="faLocationDot" class="form-icon"></fa-icon>
      <label for="toStation" class="form-label">To:</label>
      <select
        id="toStation"
        name="toStation"
        [(ngModel)]="searchData.toStationId"
        class="form-select"
      >
        <option *ngFor="let station of stationList" [value]="station.stationID">
          {{ station.stationName }}
        </option>
      </select>
    </div>

    <!-- Date Picker -->
    <div class="form-field">
      <fa-icon [icon]="faCalendarDays" class="form-icon"></fa-icon>
      <label for="datePicker" class="form-label">Date:</label>
      <input
        type="date"
        id="datePicker"
        name="datePicker"
        [(ngModel)]="searchData.dateOfTravel"
        class="form-input"
      />
    </div>

    <!-- Search Button -->
    <button type="submit" class="submit-btn" (click)="getSearchResults()">
      Search Trains
    </button>
  </form>

  <div *ngIf="isLoading" class="loader">
    <app-loader></app-loader>
  </div>

  <div
    *ngIf="trainSearchResults.length > 0 && !isLoading"
    class="total-results"
  >
    <span class="results-count">{{ trainSearchResults.length }}</span> result{{
      trainSearchResults.length > 1 ? "s" : ""
    }}
    found for
    <span class="travel-date">{{
      searchData.dateOfTravel | date : "fullDate"
    }}</span>
  </div>

  <div *ngIf="trainSearchResults.length === 0 && !isLoading" class="no-results">
    <img src="images/empty-state.png" alt="No Results Found" />
    <p>No trains found for the selected criteria.</p>
    <p>Please try different stations or date.</p>
  </div>

  <div class="container train-details-container">
    <div
      *ngFor="let train of trainSearchResults; let i = index"
      class="train-card"
    >
      <div class="train-header">
        <div class="train-info">
          <h3 class="train-name">{{ train.trainName }}</h3>
          <span class="train-number">({{ train.trainNo }})</span>
        </div>
        <div class="train-route">
          <span class="station">{{ train.departureStationName }}</span>
          <fa-icon [icon]="faArrowRightArrowLeft" class="route-icon"></fa-icon>
          <span class="station">{{ train.arrivalStationName }}</span>
        </div>
      </div>
      <div class="timings">
        <div class="timing">
          <span class="label">Departure</span>
          <span class="value">
            {{ formatDepartureTime(train.departureDate) }} |
            {{ train.departureTime }}
          </span>
        </div>
        <div class="timing">
          <span class="label">Arrival</span>
          <span class="value">
            {{ train.arrivalDate }}
            | {{ train.arrivalTime }}
          </span>
        </div>
        <div class="timing">
          <span class="label">Duration</span>
          <span class="value">
            {{ train.journeyTime }}
          </span>
        </div>
      </div>
      <div class="book-ticket-availability">
        <button
          class="availability-button"
          (click)="toggleCheckAvailability(i)"
        >
          <fa-icon [icon]="faCircleInfo" class="mr-1"></fa-icon>
          Check Availability
        </button>

        <div *ngIf="showTicketAvailability[i]" class="availability-info">
          Seats Available:
          <span class="seats-available">{{
            train.totalSeats - train.bookedSeats
          }}</span>
        </div>
        <button
          [disabled]="train.totalSeats - train.bookedSeats === 0"
          class="book-train"
          (click)="openBookTicketPopup(i)"
        >
          Book Now
        </button>
      </div>
      <div *ngIf="openBookTicket[i]">
        <app-book-ticket [selectedTrain]="train"></app-book-ticket>
      </div>
    </div>
  </div>
</div>
