<div class="container-div">
  <form class="form">
    <!-- From Location -->
    <div class="location-select">
      <fa-icon [icon]="faLocationDot"></fa-icon>
      <label for="fromStation" class="from-label">FROM </label>
      <select
        id="fromStation"
        name="fromStation"
        [(ngModel)]="searchData.fromStationId"
      >
        <option *ngFor="let station of stationList" [value]="station.stationID">
          {{ station.stationName }}
        </option>
      </select>
    </div>

    <!-- Arrow Icon -->
    <div class="arrow-icon">
      <fa-icon [icon]="faArrowRightArrowLeft"></fa-icon>
    </div>

    <!-- To Location -->
    <div class="location-select">
      <fa-icon [icon]="faLocationDot"></fa-icon>
      <label for="toStation" class="to-label">TO </label>
      <select
        id="toStation"
        name="toStation"
        [(ngModel)]="searchData.toStationId"
      >
        <option *ngFor="let station of stationList" [value]="station.stationID">
          {{ station.stationName }}
        </option>
      </select>
    </div>

    <!-- Date Picker -->
    <div class="date-picker">
      <fa-icon [icon]="faCalendarDays"></fa-icon>
      <label for="datePicker" class="date-label">DATE </label>
      <input
        type="date"
        id="datePicker"
        name="datePicker"
        [(ngModel)]="searchData.dateOfTravel"
      />
    </div>

    <!-- Search Button -->
    <button type="submit" class="submit-btn" (click)="getSearchResults()">
      Modify Search
    </button>
  </form>

  <div *ngIf="trainSearchResults.length > 0" class="total-results">
    <span>{{ trainSearchResults.length }}</span> result{{
      trainSearchResults.length > 1 ? "s" : ""
    }}
    found on
    <span>{{ searchData.dateOfTravel }}</span>
  </div>

  <div *ngIf="trainSearchResults.length === 0 && !isLoading" class="no-results">
    No trains found for the selected criteria.
  </div>

  <div class="container train-details-container">
    <div
      *ngFor="let train of trainSearchResults; let i = index"
      class="train-list"
    >
      <div class="id-name">
        <div>
          <span class="train-name">{{ train.trainName }}</span
          >&nbsp;<span class="train-no">({{ train.trainNo }})</span>
        </div>
        <div class="arival-departure-station">
          <span>{{ train.departureStationName }}</span
          ><fa-icon [icon]="faArrowRightArrowLeft"></fa-icon
          ><span>{{ train.arrivalStationName }}</span>
        </div>
      </div>
      <div class="arrival-departure-details">
        <p class="departure-details">
          {{ train.departureDate | date : "dd MMMM yyyy" }} |
          {{ train.departureTime }} |
          {{ train.departureStationName }}
        </p>
        <span class="value">
          {{ train.arrivalDate }}
          | {{ train.arrivalTime }}
        </span>
        <div class="timing">
          <span class="label">Journey Time:</span>
          <span class="value">
            {{ train.journeyTime }}
          </span>
        </div>
      </div>
      <div class="book-ticket-availability">
        <div class="check-availability">
          <button class="availability" (click)="toggleCheckAvailability(i)">
            Check Availability
          </button>
          <p *ngIf="showTicketAvailability[i]" class="total-seats-available">
            Seats Available:
            <span>{{ train.totalSeats - train.bookedSeats }}</span>
          </p>
        </div>
        <button
          [disabled]="train.totalSeats - train.bookedSeats === 0"
          class="book-train"
          (click)="openBookTicketPopup(i)"
        >
          Book Ticket
        </button>
      </div>
      <div *ngIf="openBookTicket[i]">
        <app-book-ticket [selectedTrain]="train"></app-book-ticket>
      </div>
    </div>
  </div>
</div>
<!-- <div class="seats">
      <p class="total-seats">Total Seats: {{ train.totalSeats }}</p>
      <p class="booked-seats">Booked Seats: {{ train.bookedSeats }}</p>
      <p class="reamining-seats">
        Remaining Seats: {{ train.totalSeats - train.bookedSeats }}
      </p>
    </div> -->
