<app-toast #toast></app-toast>

<div id="myModal" class="book-ticket" *ngIf="openBookTicket">
  <div class="form">
    <!-- Header -->
    <div class="header">
      <h5>Book Ticket</h5>
      <button type="button" (click)="closePopup()">
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>

    <!-- Body -->
    <div class="body">
      <div class="train-details">
        <h6 class="train-title">
          {{ selectedTrain.trainName }} - {{ selectedTrain.trainNo }}
        </h6>
        <div class="train-info">
          <div class="info-item">
            <span class="label">Departure:</span>
            <span class="value"
              >{{ selectedTrain.departureStationName }} at
              {{ selectedTrain.departureTime }} on
              {{ formatDate(selectedTrain.departureDate) }}</span
            >
          </div>
          <div class="info-item">
            <span class="label">Arrival:</span>
            <span class="value"
              >{{ selectedTrain.arrivalStationName }} at
              {{ selectedTrain.arrivalTime }} on
              {{ selectedTrain.arrivalDate }}</span
            >
          </div>
          <div class="info-item">
            <span class="label">Total Journey Time:</span>
            <span class="value">{{ selectedTrain.journeyTime }}</span>
          </div>
        </div>
      </div>

      <form
        class="passenger"
        [formGroup]="passengerForm"
        (ngSubmit)="addPassenger()"
      >
        <div class="form-group">
          <label for="passengerName">Passenger Name</label>
          <input
            id="passengerName"
            formControlName="passengerName"
            type="text"
            placeholder="Enter Passenger Name"
          />
          <app-alert
            *ngIf="passengerForm.get('passengerName')?.touched && passengerForm.get('passengerName')?.errors?.['required']"
            [errorMessage]="'Passenger name is required.'"
          ></app-alert>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            id="age"
            formControlName="age"
            type="number"
            placeholder="Enter age"
            min="1"
            max="120"
          />
          <app-alert
            *ngIf="passengerForm.get('age')?.touched && passengerForm.get('age')?.errors?.['required']"
            [errorMessage]="'Age is required and must be a valid number.'"
          ></app-alert>
        </div>
        <button type="submit" class="add-btn" [disabled]="!passengerForm.valid">
          Add Passenger
        </button>
      </form>

      <div *ngIf="passengersList.length > 0">
        <p class="passengers-list-heading">
          Passengers List
          <span
            >&nbsp;(Please confirm name and age before booking the ticket)</span
          >
        </p>
        <div class="passenger-list">
          <div class="list-header sr-no">Sr</div>
          <div class="list-header passenger-name">Passenger Name</div>
          <div class="list-header age">Age</div>
          <div class="list-header action">Action</div>
        </div>
      </div>

      <div
        *ngFor="let passenger of passengersList; let i = index"
        class="passenger-list"
      >
        <div class="list-item sr-no">{{ i + 1 }}</div>
        <div class="list-item passenger-name">
          {{ passenger.passengerName }}
        </div>
        <div class="list-item age">{{ passenger.age }}</div>
        <div class="list-item action">
          <button class="remove-btn" (click)="removePassenger(i)">
            Remove
          </button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <button type="button" class="close-btn" (click)="closePopup()">
        Close
      </button>
      <button
        type="button"
        class="create-btn"
        (click)="bookTicket()"
        [disabled]="passengersList.length === 0"
      >
        Book Ticket
      </button>
    </div>
  </div>
</div>
